<!DOCTYPE html>
<html xmlns:layout="http://wwwultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <!-- 상단바 -->
    <th:block th:replace="fragments/commonHead :: commonHeader01"></th:block>

    <!-- 레이아웃 -->
    <div class="container">
        <div class="panel-body pt-5 mt-5">
                <div class="dataTable_wrapper">
                    <div>
                        <div class="jumbotron">
                            <h1 class="display-5">계좌수정</h1>
                            <hr class="my-4">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label>계좌번호</label>
                                        <input type="text" class="form-control" name="ACCOUNT_NUM">
                                    </div>
                                    <div class="form-group col">
                                        <label>이름</label>
                                        <input type="text" class="form-control" name="NAME" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label>잔액</label>
                                        <input type="text" class="form-control" name="VALUE">
                                    </div>
                                    <div class="form-group col">
                                        <label>은행명</label>
                                        <input type="text" class="form-control" name="BANK_NAME">
                                    </div>
                                </div>
                                <div class="form-row justify-content-center">
                                    <button type="button" class="btn btn-dark mx-3">돌아가기</button> 
                                    <button type="submit" class="btn btn-dark mx-3 px-4"> 수정 </button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 푸터 -->
    <th:block th:replace="fragments/commonFooter :: commonFooter01"></th:block>

</body>

</html>