<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="./js/Healthier_js.js"></script>

    <link rel="stylesheet" href="../../static/css/intro.css" th:href="@{/css/intro.css}">
</head>

<th:block th:fragment="content">
    <div class="container">
        <div class="body mx-auto my-5 pt-5" style="width:550px">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                    <li data-target="#demo" data-slide-to="4"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../static/image/intro01.png" th:src="@{/image/intro01.png}" alt="banner01"
                            width="100%" height="620px">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../static/image/intro02.png" th:src="@{/image/intro02.png}" alt="banner03"
                            width="100%" height="620px">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../static/image/intro03.png" th:src="@{/image/intro03.png}" alt="banner04"
                            width="100%" height="620px">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../static/image/intro04.png" th:src="@{/image/intro04.png}" alt="banner05"
                            width="100%" height="620px">
                        <div class="carousel-caption"></div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <!--carousel-->
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 py-5">
                    <!--intro1-->
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../static/image/intro01.png" th:src="@{/image/intro01.png}" alt="intro01"
                                class="w-100">
                        </div>
                        <div class="col-lg-6 my-auto">
                            <h3>
                                모바일로 더 손쉬운<br>
                                계좌개설, 간편한 이체
                            </h3>
                            <p>
                                공인인증서, OTP없이 계좌 개설이 간편합니다.<br>
                                여러 건의 이체도 몇 번의 터치로 손쉽게 보낼 수 있습니다.
                            </p>
                            <a class="btn btn-primary" href="/index" target="_self">
                                도산뱅크 입출금 통장 >
                            </a>
                        </div>
                    </div>
                </div>
                <!--intro1-->
                <div class="col-lg-12">
                    <!--intro2-->
                    <div class="row">
                        <div class="col-lg-6 my-auto">
                            <h3>
                                우대조건 없이<br>
                                합리적인 예금과 적금
                            </h3>
                            <p>
                                기대했던 금리와 다르게 복잡한 우대조건에 실망한 적이 있었나요?<br>
                                도산뱅크의 예금,적금은 숨겨진 우대조건 없이 누구에게나 편리하고 합리적입니다.
                            </p>
                            <a href="/intro" target="_self" class="btn btn-primary">
                                정기예금 >
                            </a>
                            <a href="/intro" target="_self" class="btn btn-primary">
                                자유적금 >
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <img src="../../static/image/intro02.png" th:src="@{/image/intro02.png}" alt="intro02"
                                class="w-100">
                        </div>
                    </div>
                </div>
                <!--intro2-->
                <div class="col-lg-12">
                    <!--intro3-->
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../static/image/intro03.png" th:src="@{/image/intro03.png}" alt="intro03"
                                class="w-100">
                        </div>
                        <div class="col-lg-6 my-auto">
                            <h3>
                                함께 쓰고 같이 보는<br>
                                모임통장
                            </h3>
                            <p>
                                모임통장으로 초대하고 친구들과 함께<br>
                                잔액과 입출금 현황을 확인할 수 있습니다.<br>
                                재미있는 메시지 카드로 회비 입금 요청도 해보세요.
                            </p>
                            <a href="/intro" target="_self" class="btn btn-primary">
                                모임통장 >
                            </a>
                        </div>
                    </div>
                </div>
                <!--intro3-->
                <div class="col-lg-12">
                    <!--intro4-->
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../static/image/intro04.png" th:src="@{/image/intro04.png}" alt="intro04"
                                class="w-100">
                        </div>
                        <div class="col-lg-6 my-auto">
                            <h3>
                                해외계좌송금과<br>
                                WU빠른해외송금을<br>
                                더 쉽고, 저렴하게
                            </h3>
                            <p>
                                해외계좌송금이 가능한 22개국을 포함하여<br>
                                전세계 200여개국으로<br>
                                WU빠른해외송금이 가능합니다.
                            </p>
                            <a href="/intro" target="_self" class="btn btn-primary">
                                해외송금 >
                            </a>
                        </div>
                    </div>
                </div>
                <!--intro4-->
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="login">
    <div class="container">
        <div class="container">
            <div class="mt-5 pt-5 text-center">
                <img class="d-block mx-auto rounded-pill mb-4 mt-5" src="./Image/user.jpg" alt="" width="100"
                    height="100">
                <h2 class="m-3">LOGIN</h2>
                <p class="lead">모바일로 더 손쉬운 계좌개설, 간편한 이체 <br>도산뱅크로 시작하세요</p>
            </div>

            <form class="form-group font-weight-bold form-signin" action="/login/login" method="GET"
                onsubmit="javascript:return loginChk(this)">
                <div class="container d-block text-center w-50 mt-3">

                    <input type="txt" id="txtId" name="txtId" class="form-control" placeholder="ID"><br>
                    <input type="password" id="txtPwd" name="txtPwd" class="form-control" placeholder="Password">

                    <div class="checkbox m-3">
                        <label>
                            <input type="checkbox" id="chkMe" name="chkMe"> Remember me
                        </label>
                    </div>
                    <div class="d-block text-center">
                        <button class="btn btn-lg btn-primary px-5 py-1" type="submit" data-toggle="#modal"
                            data-target="#modal">Login</button>
                    </div>
                </div>
            </form>
</th:block>

<th:block th:fragment="sign">
    <form action="/join" method="GET" onsubmit="javascript:return joinChk(this)">

        <div class="row justify-content-center py-5 my-5">
            <div class="col-md-8 order-md-3">
                <h4 class="mb-3" style="text-align: center">SIGN UP</h4>
                <div class="mb-3 col-8 mx-auto">
                    <label for="agree"> 개인정보 동의서</label>
                    <textarea class="form-control" id="agree" name="agree" rows="10" cols="100">
개인정보 제공 및 활용 동의서

본인은 개인정보 보호법 제15조에 의거하여 본인의 개인정보를 제공할 것을 동의합니다.

(개인정보 수집 안내)
○ 개인정보의 수집의 목적
- 본인 확인절차
- 고지사항 전달, 불만 처리 등을 위한 원활한 의사소통 경로의 확보, 채용결과
등의 안내
- 각종 우편물 발생 시 정확한 배송지의 확보
- 채용여부 판단을 위한 기본 정보 확보

○ 개인정보 수집 항목
- 성명, 주민등록번호, 사진, 이메일 주소, 전화번호 (휴대폰, 전화번호), 주소, 학력 및 각종 경력 및 자격증 등

○ 개인정보 보유기간
- 개인정보 보호법에 의거 법률로 정한 목적 이외의 다른 어떠한 목적으로도 사용되지 않으며 내부 규정에 의해 일정 기간 저장된 후 파기

○ 동의하지 않을 경우의 처리
- 이용자는 개인정보 수집 동의에 거부할 수 있으며, 이 경우 채용 절차(사실 확인 등)가 제한됨으로 채용상 불이익을 초래할 수 있습니다.
                    </textarea>
                    <p>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkagree">
                            <label class="custom-control-label" for="checkagree">개인정보 활용에 동의합니다</label>
                        </div>
                </div>

                <div class="col-8 mx-auto">
                    <div class="mb-3">
                        <label for="fullname"> ID <small class="text-muted"> (계정이름) </small></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input type="text" class="form-control" id="username" name="username"
                                placeholder="Username">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="password1">비밀번호</label>
                            <input type="password" class="form-control" id="password1" name="password1">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="password2">비밀번호 확인</label>
                            <input type="password" class="form-control" id="password2" name="password2">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">주소</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                    </div>

                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="power@google.com">
                    </div>

                    <div class="mb-3">
                        <label for="telnum">Phone </label>
                        <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="">
                    </div>

                    <div class="row">
                        <div class="form-group col-3">
                            <label for="exampleFormControlSelect1">은행명</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>하나은행</option>
                                <option>국민은행</option>
                                <option>농협</option>
                                <option>외환은행</option>
                                <option>우리은행</option>
                                <option>신한은행</option>
                                <option>기타</option>
                            </select>
                        </div>

                        <div class="mb-3 col-9">
                            <label for="banknum">계좌번호 </label>
                            <input type="banknum" class="form-control" id="banknum" name="banknum" placeholder="">
                        </div>
                    </div>


                    <div class="d-block text-center mb-4" style="justify-content: right;">
                        <button type="submit" class="btn btn-md btn-primary px-5 font-weight-bold">가입</button>
                    </div>
                </div>
            </div>
        </div>


    </form>
</th:block>

<th:block th:fragment="intro">
    <div class="image">
        <ul class="nav navbar-light bg-light justify-content-center">
            <li class="nav-item"><a class="nav-link text-dark" href="../brand">BRAND</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="#">공지사항</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="../map">오시는길</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="#">제휴문의</a></li>
        </ul>
        <img src="#" alt="My Image" th:src="@{/image/introimage.jpg}" width="100%" height="100%">

        <div class="text">
            <p>신뢰받고 앞서가는</p>
        </div>
        <div class="text3">
            <p>글로벌 금융그룹</p>
        </div>
        <div class="text1">
            <p>D O S A N</p>
        </div>
    </div>

    <div class="card">

        <img src="images/card-image.png" />

        <div class="card-body">

            <p>연혁</p>

            <h5 class="card-title">2016</h5>
            <p class="card-text">1월 강박Bank 주식회사 설립</p>
            <p class="card-text">6월 강박Bank 영업 개시</p>

            <h5 class="card-title">2017</h5>
            <p class="card-text">2월 100만 계좌 돌파</p>
            <p class="card-text">12월 구글플레이 '올해의 앱'선정</p>

            <h5 class="card-title">2018</h5>
            <p class="card-text">1월 대출시스템 도입</p>
            <p class="card-text">4월 'Fast Company' 세계 50대 혁신기업 선정</p>

            <h5 class="card-title">2019</h5>
            <p class="card-text">7월 차세대 은행 시스템 개발 시작</p>
            <p class="card-text"></p>


        </div>

    </div>

</th:block>

<th:block th:fragment="brand">
    <div class="image">

        <img src="#" alt="My Image" th:src="@{/image/brandimg.jpg}" width="100%" height="100%">

        <div class="text">
            <p>쉬운은행 나만의 은행</p>
        </div>
        <div class="text2">
            <p>D O S A N</p>
        </div>

    </div>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="#">연혁</a>
        </nav>

        <div class="row">
            <div class="col-4">
                <img src="#" alt="My Image" th:src="@{/image/woong.png}" width="100%" height="50%">
            </div>


            <div class="col-4">
                <div class="card" style="height: 25rem;">

                    <div class="card-body">
                        <h5 class="card-title">2015</h5>
                        <p class="card-text">대표 전웅재 강박은행 설립</p>
                        <p>Service Identity 선포(SMART Service]</p>
                        <p>중국 현지법인 설립</p>
                        <p>정부 출자 현금 3,000억원 (납입자본금 3조 2,079억원)</p>
                        <p>통합인터넷뱅킹시스템 가동(개인뱅킹)</p>
                        <p>베트남 하노이 사무소 개소</p>
                    </div>
                </div>

                <div class="card" style="height: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">2017</h5>
                        <p class="card-text">지역경제 활성화를 위한 KT&G ·IBK기업은행 동반성장 업무협약 체결</p>
                        <p>필리핀 마닐라지점 개점</p>
                        <p>「청년희망펀드 공익신탁」 판매</p>
                        <p>인도 뉴델리지점 개점</p>
                        <p>「대·중소기업협력재단 동반성장협력사업 협약식」 개최</p>
                        <p>「희망경영 실천, 3정 혁신활동」추진</p>
                    </div>
                </div>

                <div class="card" style="height: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">2019</h5>
                        <p class="card-text">필리핀(BDO)은행 업무협약체결(MOU)</p>
                        <p>「스마트뱅킹 이용고객 100만명」 돌파</p>
                        <p>러시아 VEB 은행 포괄적 업무협약체결(MOU)</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="height: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">2016</h5>
                        <p class="card-text">한국농어촌공사「중소기업 지원을 위한 동반성장협력 협약」체결</p>
                        <p>4세대 IT시스템 「POST차세대시스템」가동 실시</p>
                        <p>은퇴금융 브랜드 「IBK평생설계」 선포</p>
                    </div>
                </div>

                <div class="card" style="height: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">2018</h5>
                        <p class="card-text">길거리 점포 2000호점 달성</p>
                        <p>중국현지법인 쑤저우 우장지행 개점</p>
                        <p>양곤(미얀마)사무소 개소</p>
                        <p>03.2013 서민금융포럼 서민금융대상 기업은행 금융위원장상(기관) 수상</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</th:block>


<th:block th:fragment="join">
    <div class="container pt-5 mt-5">
        <div>
            <h1 class="pb-5">상품 가입</h1>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">전체 상품</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">추천 상품</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body mx-auto">
                    <div class="card-deck">
                        <div class="card  mb-3" style="max-width: 18rem;">
                            <div class="card-header card-title h5 text-secondary" style="font-weight: bold">정기 예금</div>
                            <div class="card-body text-secondary">
                                <img src="image/save.png" class="card-img-top mx-auto"
                                    style="width:100px; height: 100px;">
                                <h5 class="card-title">도산 정기예금</h5>
                                <p class="card-text" style="font-size: small">도산 뱅크 회원이라면 누구나 금리혜택을 받는 정기예금<br><span
                                        class="h4" style="font-weight: bold;"><br>최고 연 <br>2.10</span>%
                                </p>
                                <button class="btn btn-info btn-block mt-5">가입하기</button>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 18rem;">
                            <div class="card-header card-title h5 text-secondary" style="font-weight: bold">펀드
                            </div>
                            <div class="card-body text-secondary">
                                <img src="image/save.png" class="card-img-top mx-auto"
                                    style="width:100px; height: 100px;">
                                <h5 class="card-title">도산 증권 자투자신탁<br>펀드</h5>
                                <br>
                                <p class="card-text" style="font-size: small">예금자 보험호범에 따라 예금보험공사가 보호하지 않으며,
                                    운용결과에 따라
                                    손실이 발생할 수 있고 그 손실은 투자자에게
                                    귀속됩니다.</p>
                                <button class="btn btn-info btn-block mt-5">가입하기</button>
                            </div>
                        </div>
                        <div class="card  mb-3" style="max-width: 18rem;">
                            <div class="card-header card-title h5 text-secondary" style="font-weight: bold">적금</div>
                            <div class="card-body text-secondary">
                                <img src="image/save.png" class="card-img-top mx-auto"
                                    style="width:100px; height: 100px;">
                                <h5 class="card-title">도산희망 적금</h5>
                                <p class="card-text" style="font-size: small">주택구입, 입원 등의 사유 발생시 특별중도해지 서비스를 제공하고
                                    만지해지시
                                    우대금리를 제공하는 적립식 상품</p><span class="h4" style="font-weight: bold;">최고 연
                                    <br>6.50</span>%
                                <button class="btn btn-info btn-block mt-5">가입하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>

<th:block th:fragment="help">
    <div class="container pt-5 mt-5">
        <div class="py-4">
            <h2>자주하는 질문</h2>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            1. 계좌 등록은 어떻게하나요?
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        회원 가입 하실 때 함께 등록하세요.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. 수수료는 없나요?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        네. 없습니다.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. 왜 일본 엔화는 취급하지 않나요?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        시국이 시국인만큼 일본 엔화는 취급하지 않습니다.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingfour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                            4. 채용 관련 정보를 알려주실 수 있나요?
                        </button>
                    </h2>
                </div>
                <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                    <div class="card-body">
                        사람인 혹은 잡코리아에 분기마다 채용공고를 올리고 있습니다.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingfive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                            5. 더 이상 질문 안받겠습니다.
                        </button>
                    </h2>
                </div>
                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                    <div class="card-body">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="send">
    <div class="container">
        <h1>송금</h1>
        <form class="card mt-5 p-4" action="/send/insert" method="POST">
            <h1>송금</h1>
            <hr class="my-4">
            <h4>국내송금</h4>
            <div class="form-inline mt-3">
                <div class="custom-control custom-radio mr-3">
                    <input class="custom-control-input" type="radio" id="customRadio1" name="OTHER_BANK" value="국민은행">
                    <label class="custom-control-label" for="customRadio1">국민은행</label>
                </div>
                <div class="custom-control custom-radio mr-3">
                    <input class="custom-control-input" type="radio" id="customRadio2" name="OTHER_BANK" value="신한은행">
                    <label class="custom-control-label" for="customRadio2">신한은행</label>
                </div>
                <div class="custom-control custom-radio mr-3">
                    <input class="custom-control-input" type="radio" id="customRadio3" name="OTHER_BANK" value="농협">
                    <label class="custom-control-label" for="customRadio3">농협</label>
                </div>
            </div>
            <div class="form-inline">
                <div class="custom-control custom-radio mr-3">
                    <input class="custom-control-input" type="radio" id="customRadio4" name="OTHER_BANK" value="기업은행">
                    <label class="custom-control-label" for="customRadio4">기업은행</label>
                </div>
                <div class="custom-control custom-radio mr-3">
                    <input class="custom-control-input" type="radio" id="customRadio5" name="OTHER_BANK" value="우리은행">
                    <label class="custom-control-label" for="customRadio5">우리은행</label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" id="customRadio6" name="OTHER_BANK" value="카카오뱅크">
                    <label class="custom-control-label" for="customRadio6">카카오뱅크</label>
                </div>
            </div>
            <div class="form-group mt-4">
                <label>송금금액</label>
                <input class="form-control border-top-0 border-left-0 border-right-0" type="text" id="nt_send"
                    name="VALUE" placeholder="금액을 입력하시오" disabled>
            </div>
            <hr class="my-4">
            <h4>해외송금</h4>
            <div class="form-inline">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" id="customRadio7" name="OTHER_BANK" value="해외송금">
                    <label class="custom-control-label" for="customRadio7" name="OTHER_BANK">해외 송금</label>
                </div>
                <div class="form-group">
                    <select class="custom-select my-1 ml-3" id="national" disabled>
                        <option selected>국가</option>
                        <option value="미국">미국</option>
                        <option value="중국">중국</option>
                        <option value="베트남">베트남</option>
                    </select>
                </div>
            </div>
            <div class="form-row mt-3">
                <input class="form-control col" type="text" name="VALUE" id="int_send" placeholder="송금액을 입력하시오."
                    disabled>
                <input class="form-control col" type="text" name="send_value2" disabled>
            </div>
            <hr class="my-4">
            <div class="form-row">
                <input class="form-control col" type="text" name="OTHER_NAME" placeholder="상대방 이름">
                <input class="form-control col" type="text" name="OTHER_NUM"
                    placeholder="송금계좌(&quot;-&quot;를 포함시켜 입력해 주십시오.)">
            </div>
            <button type=" submit" class="btn btn-primary mt-4"> 송금 진행 </button>
        </form>
    </div>
</th:block>

</html>