.image {

    position: relative;
    margin-top: 70px;
}

.image .text {
    position: absolute;
    top: 20%;
    left: 38%;
    font-size: 3rem;
    color: black;
}

.image .text3 {
    position: absolute;
    top: 26%;
    left: 39.5%;
    font-size: 3rem;
    color: black;
}

.image .text1 {
    position: absolute;
    top: 40%;
    left: 43%;
    font-size: 3rem;
    color: black;
}

.image .text2 {
    position: absolute;
    top: 34%;
    left: 46%;
    font-size: 3rem;
    color: black;
}


.card {
    margin-bottom: 150px;
    text-align: center;
    font-size: 1rem;
}